.table-container {
  max-height: 400px; /* Set the maximum height for the scrollable area */
  overflow-y: scroll; /* Enable vertical scrolling */
}

.table {
  width: 100%; /* Ensure the table takes up the full container width */
  table-layout: fixed; /* Fix the table layout */
  border-collapse: collapse; /* Collapse table borders */
}

body {
  min-height: 100vh;
  position: relative;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
